.wmde-markdown {
  color: inherit !important;
  background-color: inherit !important;
}

.w-md-editor-text-input::placeholder {
  font-family: 'Noto Sans KR';
  font-size: 1rem;
}

.error-highlight::placeholder {
  color: #e75b6f;
}
