@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-main: 245 245 245;
    --color-sub: 255 255 255;
    --color-title: 38 38 38;
    --color-content: 64 64 64;
    --color-other: 115 115 115;
  }

  :root[data-mode='dark'] {
    --color-main: 23 23 23;
    --color-sub: 38 38 38;
    --color-title: 229 229 229;
    --color-content: 212 212 212;
    --color-other: 163 163 163;
  }
}

@layer components {
  .card {
    @apply flex max-w-2xl flex-col items-start justify-between rounded-md bg-sub p-5 shadow-[0px_4px_16px_0px_rgba(0,0,0,0.04)];
  }
  .inputGroup {
    @apply mt-2 block w-full bg-gray-200 p-3 text-title outline-none dark:bg-gray-600;
  }
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.notosanskr * {
  font-family: 'nanumsquare', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'nanumsquare', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
